<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.securemypasswords.secureMyPasswords">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.securemypasswords.secureMyPasswords.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.securemypasswords.secureMyPasswords.SetupActivity" />
        <activity android:name="com.securemypasswords.secureMyPasswords.account.LoginActivity" />
        <activity
            android:name="com.securemypasswords.secureMyPasswords.passwordListActivity.PasswordListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.securemypasswords.secureMyPasswords.unlock_storage" />
        <activity android:name="com.securemypasswords.secureMyPasswords.PasswordManage" />
        <activity
            android:name="com.securemypasswords.secureMyPasswords.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.securemypasswords.secureMyPasswords.account.RegisterActivity" />
        <activity android:name="com.securemypasswords.secureMyPasswords.account.ManageStorage" />
    </application>

</manifest>